* {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
/* -------------------------------Section One---------------- */

.header-wrapper,
.Footer-wrapper {
  background-color: rgba(72, 72, 212, 0.822);
  text-align: center;
  padding: 5px 0px;
  color: white;
}
/* ---------------------Section Three----------------- */
.puppyList {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.puppy1,
.puppy2,
.missingpuppy {
  width: 33%;
  
  
}
.missingpuppy {
  background-color: brown;
  margin-bottom: 5px;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  font-size: 64px;
}
.puppy1,
.missingpuppy{
  padding-right: 5px;
}
.puppy2,
.missingpuppy {
  padding-left: 5px;
}

/* -------------------------------Section Four---------------- */
.MorePuppy {
  text-align: center;
  font: 1.5em;
  margin: 20px 0;
}

/* -------------------------------Section Five---------------- */


/* -------------------------------Section Six---------------- */
.twopuppies {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.puppy3,
.puppy4 {
  width: 50%;
}
.puppy3{
  padding-right: 5px;
}
.puppy4{
  padding-left: 5px;
}

/* -------------------------------Section Seven---------------- */
.dev{
  padding-bottom: 50px;
  align-content: center;

} 